.auto-complete-container {
  height: 100vh;
  background-color: aqua;
}
.box-sac {
  display: flex;
  justify-content: center;
}
.user {
  margin-left: 1vh;
  margin-top: 15vh;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
.sug {
  width: 20%;
  display: flex;
  background: #fff;
  margin: 20px;
  margin-right: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
li {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}
