.images {
  height: 150px;
  width: 150px;
}
.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  margin: 2px;
  border: 2px solid black;
}
h1 {
  align-items: center;
  margin-bottom: 20px;
  font-size: 80px;
}
.data-laoder {
  padding: 10px 20px;
  border-radius: 100px;
  margin: 40px;
  font-size: 20px;
}
h3 {
  margin-bottom: 30px;
}
