.container-qr {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 12vh;
}
.inp {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
input {
  padding: 5px 8px;
  border: 1px solid black;
}
